
  .call-animation {
    background: rgba(41, 98, 255, 0.3);
    width: 135px;
    height: 135px;
    position: relative;
    margin: 0 auto;
    border-radius: 100%;
    border: solid 10px rgba(41, 98, 255, 0.3);
    animation: play 2s ease infinite;
/*     -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden; */
  
}
 .call-image {
        width: 135px;
        height: 135px;
        border-radius: 100%;
        position: absolute;
        left: 0px;
        top: 0px;
    }
@keyframes play {

    0% {
        transform: scale(1);
    }
    15% {
        box-shadow: 0 0 0 5px rgba(41, 98, 255, 0.3);
    }
    25% {
        box-shadow: 0 0 0 10px rgba(41, 98, 255, 0.3), 0 0 0 20px rgba(41, 98, 255, 0.15);
    }
    25% {
        box-shadow: 0 0 0 15px rgba(41, 98, 255, 0.3), 0 0 0 30px rgba(41, 98, 255, 0.15);
    }

}
