body{
    text-align: center;
}

.signup-main-div{
    display: flex;
}

.side-logo-img{
    margin-left: 10%;
    margin-top: 20px;
    width: 50%;
}
.signup-input-tag{
    width: 50%;
    height: 30px;
    margin-bottom: 2rem;
    border-radius: 20px;
    padding-left: 20px;
    border: 2px solid gray;
}

.error-div{
    background-color: red;
    border-radius: 10px;
    height: 30px;
    width: 50%;
    color: white;
    margin-left: 25%;
    margin-bottom: 20px;
}

.signup-form-div{
    margin-top: 4rem;
}
.button-div{
    justify-content: space-between;
}
.SignUp-Button{
    background-color: red;
    border: 0;
    height: 30px;
    width: 60px;
    color: white;
    border-radius: 30px;
    margin-right: 10%;
    cursor: pointer;
}
.Login-Button{
    background-color: blue;
    border: 0;
    height: 30px;
    width: 60px;
    color: white;
    border-radius: 30px;
    cursor: pointer;
}

/* .signup-form-div{
    background-color: white;
    border-radius: 30px;
    width: 50%;
    margin-right: 20px;
} */

@media only screen and (max-width: 768px) {
    
    .side-logo-img{
        display: none;
    }
    }